# Ignore node_modules directory
node_modules/

# Ignore the config.env file for sensitive information
config.env

# Optional: Ignore other files or directories you don't want to track
dist/
.DS_Store
tmp/
